body {
  background-color: pink;
}
ul {
  list-style: none;
}

.nayeon {
  color: #49c0ec;
}
.jeongyeon {
  color: #a3cc54;
}

.sana {
  color: #8c79b4;
}
.momo {
  color: #e67ea3;
}
.mina {
  color: #71c7d4;
}
.dahyun {
  color: #fefefe;
}
.jihyo {
  color: #f9cc85;
}
.chaeyoung {
  color: #e62722;
}
.tzuyu {
  color: #2253a3;
}
